.STC-9-Color{font-family:'Century Gothic';font-size:10pt;color:#000066;}
.STC-9-WhiteBckgrdBorder{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:9pt;font-weight:normal;color:#000000;background-color:#FFFFFF;border: 1 solid #9C9C9C}
.STC-9-Simple{font-family:'Century Gothic';font-size:9pt;font-weight:normal;color:#000000;}
.STC-9-ColorBold{font-family:'Century Gothic';font-size:12pt;font-weight:bold;color:#FFFFFF;text-align:left;}
.Simple-Link{font-family:'Century Gothic';font-size:9pt;font-weight:bold;color:#034EA2;text-decoration:underline ;vertical-align:middle;}.Simple-Link:visited{color:#663399;}
.Link-bold{font-family:'Century Gothic';font-size:8pt;font-weight:normal;color:#FFFFFF;text-decoration:underline ;}.Link-bold:visited{color:#663399;}
.STC-9-GrayBckgrdBorder{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:9pt;font-weight:bold;background-color:#FFFFFF;border: 1 solid #9C9C9C
tabindex:1}
.STC-9-LightBckgrd{font-family:'Century Gothic';font-size:10pt;color:#3366CC;background-color:#FFFFFF;border: 1 solid #9C9C9C}
.STC-9-WhiteBckgrd{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:9pt;font-weight:normal;color:#000000;background-color:#FFFFFF;}
.STC-24{font-family:'Century Gothic';font-size:12pt;font-weight:bold;color:#000066;}
.STC-9-Black{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:9pt;}
.STC-9-Bold{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:9pt;font-weight:bold;color:#000066;}
.STC-7{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:9pt;vertical-align:middle;}
.STC-9--WhiteColor{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:9pt;color:#FFFFFF;background-color:#ECE9D8;}
.LINK-NoUnderline{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:9pt;color:#A0D3FA;}
.STC-9-ColorBoldUnderline{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:9pt;font-weight:bold;color:#196FAE;text-decoration:underline ;}
.STC-9-WhiteBckgrdColor{font-family:'Century Gothic';font-size:10pt;font-weight:normal;color:#FFFFFF;background-color:#196FAE;}
.LINK-Verdana8Centered{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:8pt;color:#A0D3FA;text-align:center;text-decoration:underline ;}.LINK-Verdana8Centered:visited{color:#663399;}
.STC-9-ColTitle{font-family:Arial, Helvetica, sans-serif;font-size:13px;font-weight:bold;color:#FFFFFF;text-align:center;vertical-align:middle;background-color:#000066;border: 1 solid #9C9C9C}
.STC-9-Selection{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:9pt;color:#003366;background-color:#A0D3FA;background-image:url(res/MediaPlayer_Selection_24FE191_.gif);background-repeat:repeat-x;border: 1 solid #72A7F3}
.STC-7-White{font-family:'Century Gothic';font-size:8pt;font-weight:bold;color:#FFFFFF;}
.STC-9-White-Right{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:9pt;color:#FFFFFF;text-align:right;}
.MainMenuOption{font-family:Arial, Helvetica, sans-serif;font-size:8pt;font-weight:bold;color:#FFFFFF;text-align:left;text-decoration:none ;vertical-align:middle;background-color:#336699;}
.STC-PAGEHEADER16{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:16pt;font-weight:bold;color:#000066;}
.STC-9-BoldBlueAlignRight{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:9pt;font-weight:bold;color:#000066;text-align:right;}
.STC-Header{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:16pt;font-weight:bold;color:#3300CC;}
.STC-9-WhiteBckgrdColor1{font-family:'Century Gothic';font-size:10pt;font-weight:normal;color:#FFFFFF;background-color:#000066;}
.STC-9--White{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:9pt;color:#FFFFFF;}
.STC-8-sitemap{font-family:Arial, Helvetica, sans-serif;font-size:8pt;font-weight:bold;color:#FFFFFF;text-decoration:none ;}
.STC-9-Bold1-grise{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:9pt;font-weight:bold;color:#000066;background-color:#CCCCCC;}
.MonStyle{font-family:'Century Gothic';font-size:8pt;font-weight:normal;color:#004671;text-decoration:underline ;}.MonStyle:visited{color:#663399;}
.TableSinistreTitle{font-family:'Century Gothic';font-size:9pt;color:#FFFFFF;background-color:#000066;}
.TableSinistreColumnTitle{font-family:'Century Gothic';font-size:9pt;font-weight:bold;color:#FFFFFF;text-align:center;background-color:#000066;background-repeat:repeat-x;border: 1 solid #9C9C9C}
.TableSinistreOddRow{font-family:'Century Gothic';font-size:9pt;background-color:#FFFFFF;}
.TableSinistreEvenRow{font-family:'Century Gothic';font-size:9pt;background-color:#FFFFFF;border: 1 solid #9C9C9C}
.TableSinistreSelectedRow{font-family:'Century Gothic';font-size:9pt;color:#003366;background-color:#A0D3FA;background-image:url(res/MediaPlayer_Selection_24FE191_.gif);border: 1 solid #72A7F3}
.STC-NewsTextarea{font-family:'Century Gothic';font-size:9pt;font-weight:bold;color:#000000;background-attachment:scroll;background-color:#F4F4F5;background-position:0px 0px;background-repeat:no-repeat;padding: 15px 20px15px 20px; }
.Combo-qte{text-align:justify;vertical-align:middle;height:10px
width:60px}
.STC-9-LooperTest{font-family:'Century Gothic';font-size:9pt;font-weight:normal;color:#000000;background-color:#0000CC;}
.STC-10{font-family:'Century Gothic';font-size:10pt;font-weight:normal;color:#000000;text-align:left;vertical-align:middle;}
.STC-10-RadioCaption{font-family:'Century Gothic';font-size:10pt;font-weight:normal;color:#000000;}
.h-0{height:0px;}
.d-0{display:none;}
TABLE{border-collapse:collapse;border-spacing:0}TD{padding:0}TR{vertical-align:top}
form{margin:0}
